<html>
    <head>
        <title>{{ page.title }} - NateROCKS112</title>
        <link rel="shortcut icon" href=
            "/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <script type="text/javascript">
            var BFTN_WIDGET_OPTIONS = {
                disableGoogleAnalytics: true
            }
        </script>
        <script src="https://june11.battleforthenet.com/widget.js" async></script>
    </head>
    <body>
        <div id="header">
            <div id="header-logo">
                <img id="logo" src="/logo.png" width="150px" height="150px"></img>
                <div id="logo-text">NateROCKS112</div>
            </div>
            <div id="header-menu">
                
                <button id="home-btn" onclick="location.href='/'">HOME</button>
                
                <button id="youtube-btn" onclick="window.open('https://www.youtube.com/user/NateROCKS112')">YOUTUBE</button>
                
                <button onclick="window.open('https://twitter.com/NateROCKS112')" id="twitter-btn">TWITTER</button>
                    
                <button onclick="location.href='/mc-content/only-one-command/'" id="ooc-btn" title="Only One Command creations">OOC</button>
            </div>
        </div>
        
        <hr style="width:900px">
        
        <div id="container">{{ content }}</div>
    </body>

</html>